{% extends "wa/layout.html" %}
{% load static %}

{% block body %}

    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <div class="login-box">
        <h2>Login</h2>
        <form id="login" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="user-box">
                <input autofocus type="text" name="username" autocomplete='off' required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
            <div class='button-center'>
                <button class="button" role="button">Log in</button>
            </div>

            <div class="text">
                Don't have an account? <a href="{% url 'register' %}">Register here.</a>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'wa/wa.js' %}"></script>
{% endblock %}