{% extends "wa/layout.html" %}
{% load static %}

{% block body %}
<div>
    {% if mesocycles %}
        <!-- Show the most recent mesocycle workout -->
        <div class="center">
            <!-- <h3 class="CurrentWorkoutTitle">Current Workout</h3> -->
            <h1 class="WaTitle">Mesocycles</h1>

            {% for mesocycle in mesocycles %}
                <div class="mesocycle-container">
                    <form class="form-trash-btn" action="{% url 'meso_delete' mesocycle.id %}" method="post">
                        {% csrf_token %}
                        <div class="mesocycle-container-title">{{ mesocycle.title }}</div>
                        
                        <div class="delete-meso">
                            <button class="trash-btn" type="submit">
                                <a>
                                    <i class='bx bx-trash'></i>
                                </a>
                            </button>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1> No mesocycles defined </h1>
    {% endif %}
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'wa/wa.js' %}"></script>
{% endblock %}